
<app-header></app-header>
<div class="cards d-flex flex-wrap justify-content-around   ">
  <app-card (click)="onDemonClick()" [card]="demon_Slayer" ></app-card>
  <app-card (click)="onShadowClick()" [card]="shadow"></app-card>
  <app-card (click)="onTitanClick()" [card]="atackOnTitan"></app-card>
  <app-card (click)="onNarutoClick()" [card]="naruto"></app-card>
</div>
<div class="demon" *ngIf="demonclick">
  <app-player>
    <button class="btn btn-danger" (click)="demonclick=false" style="z-index:12;position: fixed;bottom: 6vh;right:4vw;">Назад</button>
    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen src="https://www.youtube.com/embed/wyiZWYMilgk" frameborder="0" style="width:80vw !important;height: 80vh !important;position: fixed;top:0;bottom:0;left:0;right: 0; background-color: black;"></iframe>
  </app-player>
</div>

<div class="shadow" *ngIf="shadowClick">
  <app-player>
    <button class="btn btn-danger" (click)="shadowClick=false" style="z-index:12;position: fixed;bottom: 6vh;right:4vw;">Назад</button>
    <iframe   src="https://www.youtube.com/embed/D0BvmuB4NCs?list=PLn-EZ-rlWghFktQERqETeLk3tVNj01emV" title="Он получил всё то, что хотел | Восхождение в тени! - 1 серия | Реакция на аниме" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="width:80vw !important;height: 80vh !important;position: fixed;top:0;bottom:0;left:0;right: 0; background-color: black;"></iframe>
  </app-player>
</div>

<div class="titan" *ngIf="titanClick">
  <app-player>
    <button class="btn btn-danger" (click)="titanClick=false" style="z-index:12;position: fixed;bottom: 6vh;right:4vw;">Назад</button>
    <iframe  src="https://www.youtube.com/embed/z_bzgkzT6cU" title="АТАКА ТИТАНОВ 1 СЕЗОН | ЗА 21 МИНУТУ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen    style="width:80vw !important;height: 80vh !important;position: fixed;top:0;bottom:0;left:0;right: 0; background-color: black;"></iframe>
  </app-player>
</div>

<div class="naruto" *ngIf="narutoClick">
  <app-player>
    <button class="btn btn-danger" (click)="narutoClick=false" style="z-index:12;position: fixed;bottom: 6vh;right:4vw;">Назад</button>
    <iframe src="https://www.youtube.com/embed/DCfgqnhmqdU" title="Наруто 9 фильм: Путь ниндзя" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen    style="width:80vw !important;height: 80vh !important;position: fixed;top:0;bottom:0;left:0;right: 0; background-color: black;"></iframe>
  </app-player>
</div>
